:host {
  display: block;
  background-color: #e9d5ff;
  padding: 2rem;
  border-radius: 8px;
}

.two-columns {
  display: flex;
  gap: 2rem;
}

.margin-auto {
  margin: auto;
} 

.grow {
  flex-grow: 1;
}

